@model ECWorkflow.Models.vECWorkflow

@{
    ViewBag.Title = "料號申請";
}
@using (Html.BeginForm("Edit", "ECWorkflow", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>機種料號-新增</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.chModelNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chModelNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chModelNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.chModelName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chModelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chModelName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.chTPNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.chTPNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.chTPNo, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.chTPName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chTPName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chTPName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">新增</button>
            </div>
        </div>
    </div>


}
<div class="container">
    <div class="row">
        <div>

        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.chModelNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.chModelName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.chTPNo)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.chTPName)
                </th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.chModelNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.chModelName)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.chTPNo)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.chTPName)
                        </td>
                        <td>
                            @Html.ActionLink("刪除", "Delete", new { chTPNo = item.chTPNo })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
    <div class="row text-center">
        <button onclick="window.location.href='@Url.Action("Save", "ECWorkflow")'" class="btn btn-success">儲存</button>
        <a href="javascript:void(0);" onclick="history.back();" class="btn btn-warning">返回</a>
    </div>

</div>

